@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}
.react-calendar_navigation_label_labelText{
    font-family: "Inter", sans-serif !important;
    font-weight: 600
}
    
.react-calendar__tile--active{
    background: #C3EBFA !important;
    color: black !important;
}